body {
    /* Font stack Geometric Humanist from https://modernfontstacks.com/#font-stacks */
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    margin: 0;
    line-height: 1.75;
}

input, select, textarea {
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4 {
    margin: 0;
}

main {
    padding: 1rem;
}

.globalHeader {
    background: #494949;
    background-image: radial-gradient(#2dfefe42 1px, #494949 1px);
    background-size: 20px 20px;
    color: #fff;
    padding: 1rem;
}

.globalHeader a {
    color: #2dfefe;
}

.postedBy {
    font-style: italic;
}